:root {
    
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%); 
    --Very-dark-blue: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%); 
    --Very-dark-blue: hsl(215, 32%, 27%); 
    --White: hsl(0, 0%, 100%);
    --Font-size: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--Very-dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

main {
    background-color: var(--Very-dark-blue-card-BG);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 2%;
    border-radius: 20px;
    width: 350px;
}

.img img {
    border-radius: 5px;
    margin: 20px auto;
    object-fit: cover;
}
.img:hover {
    cursor: pointer;
    background: url("images/icon-view.svg") no-repeat var(--Cyan);
}

header {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    flex-direction: column;
    padding: 1rem 1.2rem;
}

header h1 {
    color: var(--White);
    font-size: 1.3rem;
}
header h1:hover {
    color: var(--Cyan);
    cursor: pointer;
}
header p {
    color: var(--Soft-blue);
}

.svg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 120px;
    margin-bottom: 20px;
    padding: 10px 0;
}

.ethereum {
    color: var(--Cyan);
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
    
}

.clock {
    color: var(--Soft-blue);
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
}

.clock img {
    transform: translate(0, -1px);
}

.hr {
    width: 90%;
    flex-grow: 1;
    border-color: var(--Soft-blue);
}    

section {
    padding: 20px;
    color: var(--Soft-blue);
    margin-left: -80px;
    margin-bottom: 10px;
}

span {
    color: var(--White);
}
span:hover {
    color: var(--Cyan);
    cursor: pointer;
}

section img {
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid white;
    transform: translate(0, 10px);
}

.attribution {
    font-size: 13px;
    text-align: center;
}

.attribution a {
    color: var(--White);
}